<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.crysxd.octoapp.filemanager">

    <application>

        <service
            android:name=".upload.UploadFilesService"
            android:exported="false" />

    </application>
</manifest>