<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.crysxd.octoapp.base">

    <application>
        <provider
            android:name=".PublicFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.widget.webcam.FullscreenWebcamActivity"
            android:theme="@style/OctoTheme.Fullscreen" />

    </application>
</manifest>